<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 수정</title>
</head>
<body>
<h1>게시글 수정</h1>

<form method="post" th:action="@{/post/{id}/edit(id=${post.id})}">
    <div>
        <label for="title">제목</label>
        <input id="title" name="title" required th:value="${post.title}" type="text"/>
    </div>
    <div>
        <label for="contents">내용</label>
        <textarea id="contents" name="contents" required rows="10"
                  th:text="${post.contents}"></textarea>
    </div>
    <div style="margin-top: 20px;">
        <button class="btn btn-primary" type="submit">저장</button>
        <a class="btn btn-secondary" style="margin-left: 10px;" th:href="@{/post/{id}(id=${post.id})}">취소</a>
    </div>
</form>
</body>
</html>
